<template name="room">
  {{#if current}}
    <div class="room">
      <h3>{{current.name}}</h3>
      {{#if needStart}}
        <button type="button" id="startGame" class="btn btn-primary">
          Start
        </button>
      {{/if}}

      <div class="clearfix"></div>

      {{#each users}}
        <div class="players">
          <img src="{{avatar this}}" class="img-circle avatar">
          <p class="account">account: {{this.profile.account}}</p>
          <p class="bet">bet: {{this.profile.bet}}</p>
          <div class="clearfix"></div>
          <div class="my-cards playingCards fourColours">
            {{> card rank=2 suit="hearts" owner=this}}
            {{> card rank=2 suit="hearts" owner=this}}
          </div>
        </div>
      {{/each}}

      <div class="clearfix"></div>

      <div class="common-cards playingCards fourColours">
        {{> card rank=2 suit="hearts"}}
        {{> card rank=2 suit="hearts"}}
        {{> card rank=2 suit="hearts"}}
        {{> card rank=2 suit="hearts"}}
        {{> card rank=2 suit="hearts"}}
      </div>

      <div class="clearfix"></div>

      <p>
        in bank: {{current.bank}}
      </p>
    </div>
  {{/if}}
</template>

