<template name="room">
  {{#if current}}
    <div class="room">
      <h3>{{current.name}}</h3>
      {{#if needStart}}
        <button type="button" id="startGame" class="btn btn-primary">
          Start
        </button>
      {{/if}}

      <div class="clearfix"></div>

      {{#each users}}
        <div class="players">
          <img src="{{avatar this}}" class="img-circle avatar">
          <p class="account">account: {{this.profile.account}}</p>
          {{#if isCurrentUser this current}}
            <input type="text" name="bet" size=2>
          {{/if}}
          <p class="bet">bet: {{this.profile.bet}}</p>
          <div class="clearfix"></div>
          <div class="my-cards playingCards fourColours">
            {{#each this.profile.cards}}
              {{> card rank=rank suit=suit owner=..}}
            {{/each}}
          </div>
        </div>
      {{/each}}

      <div class="clearfix"></div>

      <div class="common-cards playingCards fourColours">
        {{#each current.communityCards}}
          {{> card rank=rank suit=suit}}
        {{/each}}
      </div>

      <div class="clearfix"></div>

      <p>
        in bank: {{current.bank}}
      </p>
    </div>
  {{/if}}
</template>

